$email: "../../assets/img/email.png";
$pwd: "../../assets/img/lock.png";
$user: "../../assets/img/user.png";
$menu: "../../assets/img/category_menu.png";
$gender: "../../assets/img/gender.png";
.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72%;
  margin-left: 8rem;
  height: 45rem;
  h1 {
    color: #fff0f0;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 0.2rem;
  }
  p {
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    margin-top: 0.4rem;
  }
  a {
    color: white;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    margin: 0.5rem 0 0 18.5rem;
  }
  button {
    margin-top: 1rem;
    width: 80%;
    height: 3.5rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    font-size: 20px;
    background-color: #7b0647;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

.data-input-box {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 1rem;
  height: 30rem;
  h4 {
    color: #ffffff;
    margin-bottom: 0.3rem;
    font-size: large;
  }
  input {
    outline: none;
    border: none;
    background-color: #802457e6;
    color: white;
    font-weight: 400;
    height: 3rem;
    border-radius: 0.4rem;
    background-image: url($email);
    background-repeat: no-repeat;
    background-size: 5% 1.2rem;
    background-position: 5% 50%;
    font-size: 15px;
    &::placeholder {
      color: white;
      font-weight: 300;
      font-size: 15px;
    }
  }
  #pwd {
    background-image: url($pwd);
    background-size: 4% 1.4rem;
    padding-left: 3.5rem;
  }
}
.obstacle {
  outline: none;
  border: none;
  color: white;
  background-color: #802457e6;
  height: 3rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 3.5rem;
  border-radius: 0.4rem;
  font-weight: 300;
  font-size: 15px;
  background-image: url($user);
  background-repeat: no-repeat;
  background-size: 5% 1.2rem;
  background-position: 5% 50%;
}
.title-box {
  display: flex;

  #age {
    margin-left: 11rem;
  }
  #title-gender {
    margin-left: 7rem;
  }
}
.first-box {
  display: flex;
  justify-content: space-between;
  input {
    background-image: url($user);
    background-size: 12% 1.4rem;
    background-position: 10% 50%;
    padding-left: 3.5rem;
    width: 47%;
  }
}

.second-box {
  display: flex;
  justify-content: space-between;
}
.second-option {
  outline: none;
  border: none;
  color: white;
  background-color: #802457e6;
  height: 3rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 2rem;
  border-radius: 0.4rem;
  font-weight: 300;
  font-size: 15px;
  width: 47%;
  font-size: 11px;
}
#Gender {
  background-image: url($gender);
  background-size: 10% 1.2rem;
  background-position: 10% 50%;
  background-repeat: no-repeat;
  padding-left: 2.8rem;
}
#Marry {
  @extend #Gender;
  background-image: url($user);
}
.second-arrow {
  position: absolute;
  margin: 1.2rem 0 0 10.5rem;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.first-arrow {
  @extend .second-arrow;
  margin: 18.2rem 0 0 24.3rem;
}
.thrid-arrow {
  @extend .second-arrow;
  margin: 1.2rem 0 0 24.3rem;
}
