.header-container {
  display: flex;
  padding-top: 2rem;
  margin: 0rem 18rem 0rem 18rem;
  justify-content: space-between;
  .logo {
    width: 8%;
    height: 8%;
    margin-top: 1rem;
  }

  .search-container {
<<<<<<< HEAD
    width: 33%;
=======
>>>>>>> develop
    display: flex;
    align-items: center;
    input {
      outline: none;
      border: none;
      border-bottom: 1px solid #d1d1d1;
      height: 50%;
      width: 13.5rem;
      font-size: 15px;
      margin-right: 1rem;
    }
    img {
      height: 55%;
      cursor: pointer;
    }
    .header-profile {
      cursor: pointer;
      overflow: hidden;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      margin: 0 1rem 0 1rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .menu-img {
      height: 20%;
    }
  }
}
